# Dependencies
node_modules/

# Next.js Build Output
.next/
out/

# Environment Variables
.env
.env.local
.env.*.local

# Production Build
build/
dist/

# Logs
*.log
npm-debug.log*

# OS & Editor
.DS_Store
.vscode/
